body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eaeaea;
  font-size: 18px;
}

a:link,
a:visited {
  color: #096285;
}

a:hover {
  color: #680d81;
}


/* GLOBAL UTILITY CLASSES  */
.centered {
  text-align: center;
}

header {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: flex-end;
  gap: 1.5rem;
  align-items: center;
  background-color: #333;
  color: aliceblue;
}

header h1 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 700;
  margin-right: auto;
}


header a:link,
header a:visited {
  color: #fff;
  text-decoration: none;
}

a.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  column-gap: 5px;
}

a.logo img {
  width: 40px;
}

a.icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
}

a.icon:hover {
  text-decoration: underline;
}

div.avatar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

div.avatar span {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 9999px;
  border-width: 1px;
  width: 2rem;
  height: 2rem;
}

.avatar img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}


main {
  padding: 0.5rem 0.5rem 3rem;
  display: flex;
  flex-direction: column;

}


/* QUIZ CARDS */

.quiz-status {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

.card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}


.question {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.options {
  display: grid;
  gap: 1rem;
}

.quiz-navigation {
  display: flex;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

}

button {
  display: inline-flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  background-color: #333;
  color: #fff;
  border: none;
}

button:not(:disabled):hover {
  cursor: pointer;
  background-color: #0c7cac;
}

button:not(:disabled):active {
  transform: scale(0.95);
}

button:not(:disabled):focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

/* OPTIONS  */

.custom-grid {
  display: grid;
  gap: 18px;
}

.answer {
  font-size: 0.875rem;
  font-weight: medium;
  border-radius: 0.5rem;
  border: 1px solid #e1e1e1;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  padding: 10px 16px 10px 16px;
  cursor: pointer;
  display: flex;
}

.answer input {
  display: none;
}

.answer:has(input:checked) {
  background-size: 12px;
  background-color: #ecffe7;
  border-color: #92b58a;
  color: green;
  /* font-weight: bold; */
}

/* ANIMATIONS */

h3.question {
  opacity: 0;
  animation: appear 0.5s ease-out forwards;
}

.options label {
  opacity: 0;
  scale: 0.8;
  animation: appear 0.5s ease-out forwards;
}

.options label:nth-child(1) {
  animation-delay: 0.5s;
}

.options label:nth-child(2) {
  animation-delay: 0.75s;
}

.options label:nth-child(3) {
  animation-delay: 1s;
}

.options label:nth-child(4) {
  animation-delay: 1.25s;
}


@keyframes appear {
  to {
    opacity: 1;
    scale: 1;
  }

}

/* QUIZ RESULTS  */

.scoring {}

.scoring ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 2em 0 0;
  padding: 1em 0 1em 1em;
  border-top: 1px solid #ccc;
}

.scoring h4 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;

}

.scoring li div {
  margin-bottom: 0.3em;
}

.scoring li .correct {
  color: green;
}


.scoring li .wrong {
  color: red;
}

.source {
  margin: 0.8rem 0;
}

.source p {
  margin: 0 0 0.3em;
  color: #666;
  font-size: 0.8rem;
  ;
}

.source a {
  font-size: 1rem;
}


/* Leaderboard  */

table.leaderboard {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 1rem;
}

table.leaderboard th {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  text-align: left;
}

table.leaderboard .score {
  padding: 0.5rem 1rem;
  text-align: right;
}

table.leaderboard th:first-child {
  border-radius: 9px 0 0 0;
}

table.leaderboard th:last-child {
  border-radius: 0 9px 0 0;
}

table.leaderboard td {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}

table.leaderboard tr:last-child td {
  border-bottom: none;
}

table.leaderboard tr:nth-child(even) {
  background-color: #f9f9f9;
}

table.leaderboard tr:last-child td:first-child {
  border-radius: 0 0 0 9px;
}

table.leaderboard tr:last-child td:last-child {
  border-radius: 0 0 9px 0;
}