.homepage {
  background: url("/qmarks.svg") no-repeat center top;
}

.homepage h1 {
  font-size: 38px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  text-shadow: 0 4px 4px #00000025;
  margin: 3rem 2.5rem 2rem;
}

.homepage h2 {
  font-size: 28px;
  line-height: 36px;
  margin: 1.3rem 1rem 1rem;
  color: #4956a5;
}

.homepage p {
  color: var(--text-muted);
  font-size: 18px;
  line-height: 24px;
  margin: 0 1.5rem 0;
}

.homepage .card {
  position: relative;
  padding-bottom: 4rem;
}

.homepage .quiz-navigation {
  margin-top: 0;
}

.startButton {
  box-shadow: 0 4px 32px #ffa16b9b;
  height: 80px;
  width: 190px;
  position: absolute;
  bottom: -40px;
  left: calc(50% - 95px);
  border: 1px solid #f7ccb39b;
}

button.startButton:hover {
  box-shadow: 0 6px 32px #ffa16b9b;
}