/* Leaderboard  */

table.leaderboard {
    width: 90%;
    margin: 1rem auto 2rem;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    opacity: 0.5;
}

table.leaderboard th {
    background-color: #5c5c5c;
    color: #fff;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.8em;
    text-align: left;
}

table.leaderboard .score {
    padding: 0.5rem 1rem;
    text-align: right;
}

table.leaderboard th:first-child {
    border-radius: 9px 0 0 0;
}

table.leaderboard th:last-child {
    border-radius: 0 9px 0 0;
}

table.leaderboard td {
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
}

table.leaderboard tr:last-child td {
    border-bottom: none;
}

table.leaderboard tr:nth-child(even) {
    background-color: #f9f9f9;
}

table.leaderboard tr:last-child td:first-child {
    border-radius: 0 0 0 9px;
}

table.leaderboard tr:last-child td:last-child {
    border-radius: 0 0 9px 0;
}